<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/api project/css/style.css">
    <script src="/api project/js/app.js" defer></script>
    <title>API project</title>
</head>
<body>
    <h1>Type a city name to see the weather</h1>
    <label for="input-city">City Name:</label>
    <input id="input-city" type="text" placeholder="Enter a city">
    <button id="submitBtn" type="submit">send</button>
    <section id="map" aria-label="City Weather Information">
        <div>
          <h2 id="city_name"></h2>
          <ul id="weather_list" hidden>
            <li id="weather"></li>
            <li id="temp"></li>
            <li id="humidity"></li>
            <li id="wind_speed"></li>
          </ul>
        </div>
    </section>
    
    
    <div id="container" aria-label="Event Information"></div>
</body>
</html>